@import './variables.scss';

.character-card-link {
  text-decoration: none;
  color: black;
}

.character-card-link:visited {
  text-decoration: none;
  color: black;
}

.character-card-link:hover {
  text-decoration: none;
  text-shadow: 3px 3px 6px yellowgreen;
  color: yellow;
}

.character-card {
  // background-color: #69c8ecff;
  background-color: #0ad8f3;
  border-style: solid;
  border-color: $color-border;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6%;
  text-align: center;
  height: 280px;
  width: 180px;
  margin: 10px;
}
.character-card:hover {
  box-shadow: 1px 1px 10px 3px rgb(162, 255, 0);
}

.character-title {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  padding-bottom: 10px;
}
.character-image {
  height: 180px;
  border-radius: 6%;
}

.character-name {
  font-size: 18px;
  overflow-wrap: wrap;
  text-decoration: none;
}
@media all and (min-width: 1200px) {
}
