@import './variables.scss';

.character-detail-container {
  // position: absolute;
  // top: 70%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 230px;
  margin: auto;
}

.header-return {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}
.character-detail-icon {
  height: 25px;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.header-return-text {
  padding-left: 5px;
  font-size: 20px;
}
.character-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: $color-border;
  border-style: solid;
  border-width: 5px;
  border-radius: 6%;
  height: 380px;
  background-color: #0ad8f3;
}
.character-detail-text {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}
.character-detail-image {
  border-radius: 5%;
  height: 210px;
}
.character-detail-name {
  font-weight: bold;
}
.character-description {
  list-style: none;
  padding-left: 0;
}
.fas {
  color: black;
}

.go-back {
  text-decoration: none;
  color: black;
}

.error {
  font-size: 48px;
}
@media all and (min-width: 768px) {
  .character-detail-container {
    width: 90vw;
    top: 50%;
    align-items: center;
    margin-bottom: 10px;
  }
  .character-detail-icon {
    height: 30px;
  }
  .header-return-text {
    padding-left: 6px;
    padding-top: 5px;
    text-decoration: none;
  }
  .character-detail-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    width: 640px;
  }
  .character-detail-text {
    margin-bottom: 0;
    margin-left: 20px;
  }
  .character-header {
    text-align: left;
  }
  .character-description {
    padding-left: 0;
    align-items: flex-start;
  }

  .character-detail-image {
    border-radius: 6%;
    height: 90%;
    margin-left: 10px;
  }

  .character-detail-icon {
    height: 30px;
  }
  .header-return-text {
    padding-left: 20px;
    text-decoration: none;
  }
}
@media all and (min-width: 1200px) {
  .character-detail-card {
    height: 500px;
    width: 900px;
    border-radius: 30px;
    padding-left: 10px;
  }
  .character-detail-icon {
    height: 45px;
  }
  .header-return-text {
    font-size: 30px;
  }
  .character-description {
    font-size: 50px;
  }
  .character-li {
    font-size: 24px;
  }
  .character-detail-name {
    font-size: 28px;
  }
  .character-detail-span {
    font-size: 24px;
  }
  .fa-female,
  .fa-male {
    font-size: 24px;
  }
  .fa-reddit-alien {
    font-size: 24px;
  }
  .fa-smile {
    font-size: 24px;
  }
}
