.character-card {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: lightgreen;
  display: inline-block;
  border-radius: 6%;
  text-align: center;
  height: 280px;
  width: 180px;
  margin: 10px;
}
.image {
  height: 180px;
  border-radius: 6%;
}
.items-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.character-list {
  position: absolute;
  text-align: center;
  top: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.name {
  font-size: 20px;
  overflow-wrap: wrap;
}
