.items-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}
.character-list {
  // position: absolute;
  // text-align: center;
  // top: 40%;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.name {
  font-size: 20px;
  overflow-wrap: wrap;
}
.character-list-message {
  font-size: 28px;
  text-align: center;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (min-width: 768px) {
  .items-list {
    position: absolute;
    top: 40%;
    margin-left: 60px;
    margin-right: 60px;
  }
  .character-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 1200px) {
  .items-list {
    position: absolute;
    top: 30%;
  }
}
