.search {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.searchbox {
  transition: border 0.2s linear;
  font-size: 12px;
  width: 50%;
  background: #f5f8fa;
  color: #000;
  padding: 8px 32px 8px 12px;
  height: 22px;
  border: 1px solid #e6ecf0;
  border-radius: 50px;
  outline: none;
}

.searchbox:focus {
  transition: border 0.2s linear;
  border: 3px solid lightgreen;
}

.searchbtn {
  position: absolute;
  font-size: 20px;
  color: lightgreen;
  background-color: transparent;
  border: none;
  right: 24%;
  top: 5px;
  outline: none;
  padding: 4px;
}
.fas {
  color: lig;
}
