.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  width: 50%;
  left: 50%;

  padding-bottom: 10px;
}

.searchbox {
  transition: border 0.2s linear;
  font-size: 12px;
  width: 55%;
  background: #f5f8fa;
  color: #000;
  padding: 8px 32px 8px 12px;
  height: 22px;
  border: 1px solid #e6ecf0;
  border-radius: 50px;
  outline: none;
}
.searchbox::placeholder {
  color: black;
}

.searchbox:focus {
  transition: border 0.2s linear;
  border: 3px solid lightgreen;
}

.searchbtn {
  position: relative;
  font-size: 20px;
  color: lightgreen;
  background-color: transparent;
  border: none;
  right: 5%;
  top: 5px;
  outline: none;
  padding: 4px;
}

@media all and (min-width: 768px) {
  .searchbox {
    width: 70%;
    font-size: 20px;
  }
  .searchbtn {
    right: 10%;
  }
}

@media all and (min-width: 1200px) {
  .searchbox {
    width: 70%;
  }
  .searchbtn {
    right: 5%;
  }
}
